
            body {
                background-image:url(http://sfwallpaper.com/images/3d-background-wallpapers-19.jpg);
                padding: 10px;
                font-family: Comic sans ms;
                background-repeat:no-repeat;
                background-size:cover;
                background-blend-mode:darken;
                background-position:0px -125px;
            }
            header {
                font-size: 1.5em;
                font-weight: bold;
            }
            [id=all-contents] {
                max-width: 800px;
                margin: auto;
            }
    
            /* navigation menu */
            nav {
                background: black;
                margin: 10px auto; margin-bottom: 20px;
                display: flex;
                padding: 20px;
                border-radius: 10px;
                border-style:ridge;
               
            }
            nav header {
                display: flex;
                align-items: center;
                color: blue;
                flex: 1;
            }
            nav ul {
                list-style-image: none;
            }
            nav li {
                display: inline-block;
                padding: 0 10px;
            }
            nav a {
                text-decoration: none;
                color: #fff;
            }
            
            /* main container area beneath menu */
            main {
                background:white;
                display: flex;
                border-radius:10px;
                border-style:groove;
                border-width:10px;
            }
            [class=sidebar] {
                margin-right: 25px;
                padding: 10px;
            }
            [class=sidebar] img {
                width: 200px;
            }
            [class=main2] {
                flex:1;
                padding:15px;
                color:blue;
                margin: 10px auto; margin-bottom: 20px;
               
                
            }
            [class=content] {
                flex: 1;
                padding: 15px;
                color:blue;
            }
            [class=interests] header {
                font-size: 1.25em;
                
            }
            [class=hunter]{
            border-style:solid;
            border-width:5px;
            border-radius:20%;
            border-color:blue;
            }
            
            
        
            
            
            

.content h1, h2, h3, h4, h5, h6 {
    margin: 10px;
}

.content section > a {
    text-decoration: none;
}

.code {
    font-family: monospace;
    background: #eee;
    border: 1px solid #ccc;
    color: #222;
    white-space: pre;
    width: 100%;
    margin-bottom: 20px;
    overflow: scroll;
}

.topic-heading {
    padding-left: 50px;
    text-transform: capitalize;
}

.line {
    display: flex;
    padding: 2px 0;
}

.line:nth-child(even) {
    background: #ddd;
}

.line-number {
    min-width: 40px;
    padding-left: 5px;
    text-align: right;
    padding-right: 20px;
}